<div id="formRestorePassword" class="forms">
    <form name="restorePasswordForm" ng-hide="questionsShown" ng-model="questionsShown">
        <div>
            <input
                    name="username"
                    type="text"
                    ng-model="username"
                    placeholder="Insert UserName"
                    required
            />
            <input
                    name="getQuestions"
                    type="submit"
                    id="getQuestions"
                    ng-click="getQuestions($event)"
            >
        </div>
    </form>
</div>

<div>
    <form name="restorePasswordForm" ng-show="questionsShown" ng-model="questionsShown">
        <div>
            <p>restore password for: {{username}}</p>
            <p>

            </p>
            <select name="selectQuestion" id="Qselect" ng-model="selectedQ">
                <option ng-value="" ng-disable="">here are some questions in case you forgot:</option>
                <option ng-repeat="q in questions">{{q['questionBody']}}</option>
            </select>
            <br>
            <input
                    name="answer1"
                    type="text"
                    id="answer1"
                    ng-model="answer1"
                    placeholder="Insert answer for your first question"
                    required
            />
            <br>
            <input
                    name="answer2"
                    type="text"
                    id="answer2"
                    ng-model="answer2"
                    placeholder="Insert answer for your second question"
                    required
            />
            <br>
            <input
                    name="retrievePassword"
                    type="submit"
                    id="retrievePassword"
                    ng-click="retrievePassword($event)"
            >
        </div>
    </form>
</div>