body {
    background-image: url("images/background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lora', serif;
}

.btn-secondary{
    margin-left: 5px;
}

.border{
    border-left-width: 30px;
    width: 80%;
}

.desc{
    max-width: 75%;
    margin-left: 12.5%;
}

.card{
    background-color: transparent;
}

.card-header{
    background-color: rgba(0,255,255,0.3);
}

.poimg{

    width: 100%;
    height: 40vh;
    object-fit: contain;
}

.btn-outline-warning{
    background-color: cornflowerblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(0,125,255), rgb(0,255,255)); /* Standard syntax (must be last) */
    color: white;
}